body{
	background: radial-gradient(rgb(240,240,240) , rgb(190,190,190));
}

.step{
	width: 900px;
	padding: 40px;
	font-size: 48px;
	line-height: 1.5;
	opacity: 0.3;
	transition: opacity 1s;
}

.step.active{
	opacity: 1;
}

#borsh{
	font-size: 35px;
}